.card-outer-container {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
}

.card-inner-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.product-image>img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.product-card-information {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.title{
    font-size: 24px;
    font-weight: 600px;
}

.description {
    font-size: 14px;
    font-weight: 200;
}

.stock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 200;
}
.stock > p{
    font-weight: 600;
}

.price{
    font-weight: 800;
}